<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="Education Support"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Test">

        <activity
            android:name=".ui.quiz.ActStudentListActivity"
            android:exported="false" />
        <activity
            android:name=".ui.quiz.StudentReviewActivity"
            android:label="Student Review"
            android:exported="false" />
        <activity
            android:name=".ui.quiz.StudentQuizDetailActivity"
            android:label="Quiz Detail"
            android:exported="false" />
        <activity
            android:name=".ui.quiz.QuizDetailActivity"
            android:label="Quiz Detail"
            android:exported="false" />
        <activity
            android:name=".ui.start.activity.QuizDescActivity"
            android:exported="false" />
        <activity
            android:name=".ui.start.Fragment.QuizDetailActivity"
            android:label="Quiz Detail"
            android:exported="false" />
        <activity
            android:name=".ui.course.EnrollCourseActivity"
            android:label="Enrol Courses"
            android:exported="false" />
        <activity
            android:name=".ui.quiz.QuizActivity"
            android:label="Quiz"
            android:exported="false" />
        <activity
            android:name=".ui.quiz.CreateQuestionActivity"
            android:label="Create Question"
            android:exported="false" />
        <activity
            android:name=".ui.course.CourseDetailActivity"
            android:label="Course Detail"
            android:exported="false" />
        <activity
            android:name=".ui.course.TutorCourseActivity"
            android:label="Tutor Courses"
            android:exported="false" />
        <activity
            android:name=".ui.course.StudentMarkListActivity"
            android:label="Course Marks"
            android:exported="false" />
        <activity
            android:name=".ui.course.CourseResultActivity"
            android:label="Course Marks"
            android:exported="false" />
        <activity
            android:name=".ui.quiz.CreateActActivity"
            android:exported="false"
            android:label="Create Activity" />
        <activity
            android:name=".ui.quiz.CreateCourseActivity"
            android:exported="false"
            android:label="Create Course" />
        <activity
            android:name=".ui.home.CreateModuleActivity"
            android:exported="false"
            android:label="Create Module" />
        <activity
            android:name=".ui.course.ResultActivity"
            android:exported="false" />
        <activity
            android:name=".ui.base.Module"
            android:exported="false"
            android:label="@string/title_activity_module"
            android:theme="@style/Theme.Test.NoActionBar" />
        <activity
            android:name=".ui.dashboard.ViewUserActivity"
            android:label="User Info"
            android:exported="false" />
        <activity
            android:name=".ui.dashboard.UserProfileActivity"
            android:label="User Profile"
            android:exported="true" />
        <activity
            android:name=".ui.base.SignInActivity"
            android:label="Education Support"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.base.SignUpActivity"
            android:label="Education Support"
            android:exported="false" />
        <activity
            android:name=".ui.home.StudentHomeActivity"
            android:exported="false" />
        <activity
            android:name=".ui.home.EducatorHomeActivity"
            android:exported="false" />
        <activity
            android:name=".ui.course.AllCoursesActivity"
            android:label="All Courses"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name" />
        <activity
            android:name=".ui.course.SelectedCourseActivity"
            android:label="Selected Course" />
    </application>

</manifest>