<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Test">
        <activity
            android:name=".ui.quiz.QuizActivity"
            android:exported="false" />
        <activity
            android:name=".ui.quiz.CreateQuestionActivity"
            android:exported="false" />
        <activity
            android:name=".ui.course.CourseDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.course.TutorCourseActivity"
            android:exported="false" />
        <activity
            android:name=".ui.course.StudentMarkListActivity"
            android:exported="false" />
        <activity
            android:name=".ui.course.CourseResultActivity"
            android:exported="false" />
        <activity
            android:name=".ui.quiz.CreateActActivity"
            android:exported="false"
            android:label="Create Activity" />
        <activity
            android:name=".ui.quiz.CreateCourseActivity"
            android:exported="false"
            android:label="Create Course" />
        <activity
            android:name=".ui.home.CreateModuleActivity"
            android:exported="false"
            android:label="Create Module" />
        <activity
            android:name=".ui.course.ResultActivity"
            android:exported="false" />
        <activity
            android:name=".ui.base.Module"
            android:exported="false"
            android:label="@string/title_activity_module"
            android:theme="@style/Theme.Test.NoActionBar" />
        <activity
            android:name=".ui.dashboard.ViewUserActivity"
            android:exported="false" />
        <activity
            android:name=".ui.dashboard.UserProfileActivity"
            android:exported="true" />
        <activity
            android:name=".ui.base.SignInActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.base.SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".ui.home.StudentHomeActivity"
            android:exported="false" />
        <activity
            android:name=".ui.home.EducatorHomeActivity"
            android:exported="false" />
        <activity
            android:name=".ui.course.AllCoursesActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name" />
        <activity
            android:name=".ui.course.SelectedCourseActivity"
            android:label="Selected Course" />
    </application>

</manifest>